@model IEnumerable<Services.Models.Occupancy>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<h3>@ViewBag.MessSuccess</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOccupied)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RateApplied)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneCharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumberNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeNumberNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumberNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOccupied)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RateApplied)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumberNavigation.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeNumberNavigation.EmployeeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumberNavigation.RoomNumber)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.OccupancyNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
