@model IEnumerable<Services.Models.Payment>

@{
    ViewData["Title"] = "Index";
}

<h1>Payment</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountCharged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumberNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeNumberNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountCharged)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxRate)
                </td>
                <td>
                    @(item.AccountNumberNavigation.FirstName + " " + item.AccountNumberNavigation.LastName)
                </td>
                <td>
                    @(item.EmployeeNumberNavigation.FirstName + " " + item.EmployeeNumberNavigation.LastName)
                </td>
            </tr>
        }
    </tbody>
</table>
